<div class="container">
<div class="row justify-content-between">
  <h3 class="text-center">投稿詳細</h3>
  <div class="">
    <%= @post.user.name %>
    <%= @post.created_at %>
  </div>
  <div><button>sample</button></div>
</div>
<div class="row">
  <div class="col-4">testA</div>
  <div class="col-8">testB</div>
</div>
</div>