<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Share Music</h1>
    </div>
  </div>
  <row class="row">
    <div class="col-sm-12 text-center">
      <h2>  Share Musicは好きな音楽やアーティストの感想を投稿したり、閲覧したりできるコミュニティサイトです。<br/>
            皆様の感想、ぜひ共有していただければと思います。<br/>
            聴く曲の幅を広げたいという方も当サイトをご利用いただいて、参考にしていただければ幸いです。
      </h2>
    </div>
  </row>
</div>