<div class="container">
  <div class="row">
     <h3 class="bg-light text-center">会員一覧</h3>
      <table class= "table table-hover table-inverse">
      <thead class="bg-light">
        <tr>
          <th>ユーザid</th>
          <th>ユーザ名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to user.name, admin_user_path(user.id) %></td>
          <td><%= user.email %></td>
          <% if user.user_status == "有効" %>
            <td class="text-success">有効</td>
          <% elsif user.user_status == "退会" %>
            <td class="text-secondary">退会</td>
            <% else %>
            <td class="text-secondary">無効</td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>