       <% post.post_comments.each do |post_comment| %>
<div>
  
         <%= link_to post_comment.user.name,user_path(post_comment.user) %>
         <%= post_comment.comment %>
         <% if post_comment.user == current_user %>
            <%= link_to "Destroy", post_post_comment_path(post_comment.post, post_comment), method: :delete,class: "btn btn-danger",remote: true %>
         <% end %>
</div>
       <% end %>