@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';

*{font-family: 'M PLUS Rounded 1c', sans-serif;}


.index-img{
			max-width: 100%;
			width: 200px;
			height: 200px;
			object-fit: cover;
		}

.show-img{
			max-width: 100%;
			width: 350px;
			height: 350px;
			object-fit: contain;
		}

.top-img{
	       	max-width: 100%;
			width: 200px;
			height: 200px;
			object-fit: cover;
        }

.small-img{
	        max-width: 100%;
			width: 50px;
			height: 50px;
			object-fit: cover;
            }

.user-img{
	        max-width: 100%;
			width: 150px;
			height: 150px;
			object-fit: cover;
            }